fail_fast: false
repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: poetry run isort .
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        args: [--no-strict-optional, --ignore-missing-imports]
        pass_filenames: false